<!DOCTYPE html>
<html lang="en">
<head>
    <head th:include="head :: head">
        <title id="pageTitle">Database Table Columns</title>
    </head>
</head>
<body>
<div class="jumbotron">
    <h2 class="display-4" th:text="'Database Connection: ' + ${connection.type} + ' ' + ${connection.name} + ' - ' + ${schema} + ' - ' + ${table} + ' - Columns'"
        th:if="${schema} != null"></h2>
    <h2 class="display-4" th:text="'Database Connection: ' + ${connection.type} + ' ' + ${connection.name} + ' - ' + ${table} + ' - Columns'" th:if="${schema} == null"></h2>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="/">Home</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="/connections">Database Connection Management</a></li>
            <li class="breadcrumb-item" aria-current="page"><a th:href="@{'/connections/' + ${connection.id}}" th:text="${connection.name}"></a></li>
            <li class="breadcrumb-item" aria-current="page" th:if="${schema} != null"><a
                    th:href="@{'/connections/' + ${connection.id} + '/schemas'}">Schemas</a></li>
            <li class="breadcrumb-item" aria-current="page" th:if="${schema} != null"><a
                    th:href="@{'/connections/' + ${connection.id} + '/tables?schema=' + ${schema}}" th:text="${schema}"></a></li>
            <li class="breadcrumb-item" aria-current="page" th:if="${schema} == null"><a
                    th:href="@{'/connections/' + ${connection.id} + '/tables'}">Tables</a></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="${table} + ' - Columns'"></li>
        </ol>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-bordered">
                <caption th:if="${schema} != null" th:text="'List of Table Columns - ' + ${schema} + ' - ' + ${table}"></caption>
                <caption th:if="${schema} == null" th:text="'List of Table Columns - ' + ${table}"></caption>
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Column Name</th>
                    <th scope="col">Data Type</th>
                    <th scope="col">Ordinal</th>
                    <th scope="col">Nullable</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="column,iter : ${columns.columnMetadata}">
                    <td th:text="${iter.index + 1}"/>
                    <td th:text="${column.name}"/>
                    <td th:text="${column.type}"/>
                    <td th:text="${column.ordinal}"/>
                    <td th:text="${column.nullable}"/>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table table-bordered">
                <caption th:if="${schema} != null" th:text="'List of Table Primary Keys - ' + ${schema} + ' - ' + ${table}"></caption>
                <caption th:if="${schema} == null" th:text="'List of Table Primary Keys - ' + ${table}"></caption>
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Primary Key Name</th>
                    <th scope="col">Columns</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pk,iter : ${columns.primaryKeyMetadata}">
                    <td th:text="${iter.index + 1}"/>
                    <td th:text="${pk.name}"/>
                    <td th:text="${pk.columnNames}"/>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table table-bordered">
                <caption th:if="${schema} != null" th:text="'List of Table Indices - ' + ${schema} + ' - ' + ${table}"></caption>
                <caption th:if="${schema} == null" th:text="'List of Table Indices - ' + ${table}"></caption>
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Index Name</th>
                    <th scope="col">Columns</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="index,iter : ${columns.indexMetadata}">
                    <td th:text="${iter.index + 1}"/>
                    <td th:text="${index.name}"/>
                    <td th:text="${index.columnNames}"/>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>