<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:include="head :: head">
    <title id="pageTitle">Database Connection</title>
</head>
<body>
<div class="jumbotron">
    <h2 class="display-4" th:text="'Database Connection: ' + ${connection.name}">Database Connection:</h2>
    <a href="/" class="btn btn-primary">Home</a>
    <a href="/connection" class="btn btn-primary">Database Connection Management</a>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="display-4">
                        <button class="btn btn-light btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Details
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
                    <div class="card-body">
                        <form action="#" th:action="@{'/connection/' + ${connection.id}}" th:object="${connection}" method="post">
                            <div class="form-group">
                                <label for="nameInput">Name of the Database Connection</label>
                                <input type="text" class="form-control" id="nameInput" aria-describedby="nameHelp" required minlength="1" th:field="*{name}">
                            </div>
                            <div class="form-group">
                                <label for="hostnameInput">Host of the Database Connection</label>
                                <input type="text" class="form-control" id="hostnameInput" required minlength="1" th:field="*{host}">
                            </div>
                            <div class="form-group">
                                <label for="portInput">Port of the Database Connection</label>
                                <input type="number" class="form-control" id="portInput" required minlength="1" th:field="*{port}">
                            </div>
                            <div class="form-group">
                                <label for="databaseInput">Database of the Database Connection</label>
                                <input type="text" class="form-control" id="databaseInput" required minlength="1" th:field="*{database}">
                            </div>
                            <div class="form-group">
                                <label for="usernameInput">User Name of the Database Connection</label>
                                <input type="text" class="form-control" id="usernameInput" th:field="*{username}">
                            </div>
                            <div class="form-group">
                                <label for="passwordInput">User Passoword of the Database Connection</label>
                                <input type="password" class="form-control" id="passwordInput" th:field="*{password}">
                            </div>
                            <input type="submit" class="btn btn-primary" value="Submit"/> <input type="reset" class="btn btn-danger" value="Reset"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>