<!DOCTYPE HTML>
<html lang="en">
<head th:include="head :: head">
    <title id="pageTitle">Simple Database Connection Management Web App</title>
</head>
<body>
<div class="jumbotron">
    <h1 class="display-4">Hello, World!</h1>
    <p class="lead">This is a simple web app, takes as an input a database connection and allows you to get metadata information about it and preview some data.</p>
    <hr class="my-4">
    <p>It uses java backend to perform database operations and a simple HTML + Bootstrap frontend to make it nicer with use of Thymeleaf for templating.</p>
    <a href="/connection" class="btn btn-primary btn-block">Go to Database Connection Management</a>
</div>
</body>
</html>